# Customize
#
# 1. general ignore
**/*.swp
__pycache__/
*.py[cod]
*$py.class

# 2. igore folder
venv/
log/*
scripts/ignore/*
sqlite/*
cache/*

# 3. exceptions that not ignore
!log/.gitkeep
!scripts/ignore/.gitkeep
!sqlite/.gitkeep
!cache/.gitkeep

# 4. ignore specified files
files/upgrade/pin.txt.rc
files/upgrade/pin.txt

