# Customize
#
# 1. general ignore
**/*.swp
__pycache__/
*.py[cod]
*$py.class

# 2.1 ignore sorted files
cert/*.key
cert/*.cert

# 2.2 ignore specified files
files/upgrade/pin.txt.rc
files/upgrade/pin.txt

# 3.1 ignore folders without exception
venv/

# 3.2 ignore folders with exception
log/*
scripts/ignore/*
sqlite/*
cache/*
pub/csv/*
pub/xls/*

# 4. exceptions that not ignore
!log/.gitkeep
!scripts/ignore/.gitkeep
!sqlite/.gitkeep
!cache/.gitkeep
!cert/.gitkeep
!pub/.gitkeep
!pub/xls/.gitkeep
!pub/csv/.gitkeep


