[Unit]
Description=GE Lighting Cloud(ssl) Service
After=mariadb.service

[Service]
Type=forking
ExecStart=/git/gecloud/run.sh --start --ssl
ExecReload=
ExecStop=/git/gecloud/run.sh --stop --ssl
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
