{% extends '_mybase.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/my.css') }}">
{% endblock styles %}

{% block scripts %}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $("button#update").click(function(){
                if(window.confirm("确认更新数据吗?")==false)
                    return false;
            });
        });
    </script>
{% endblock scripts %}

{% block body %}
    {{ super() }}

    <h3>树莓派测试统计</h3>

    <table border="1">
        <tr>
            <th>&nbsp;工厂&nbsp;</th>
            <th>&nbsp;测试总数&nbsp;</th>
            <th>&nbsp;成功数量&nbsp;</th>
            <th>&nbsp;失败数量&nbsp;</th>
            <th>&nbsp;成功率&nbsp;</th>
            <th>&nbsp;最近上传时间&nbsp;</th>
            <th>&nbsp;最近更新时间&nbsp;</th>
            <th>&nbsp;操作&nbsp;</th>
        </tr>

        {% for data in datas %}
            <tr>
                 <td>&nbsp;
                     <form style="display: inline" action="{{ url_for('blue_vendor.vf_index') }}" method="post">
                         <input type="hidden" name="fcode" value={{data.fcode}}>
                         <button type="submit" class="btn">{{ data.fname }}</button>
                      </form>
                &nbsp;</td>
                <td>&nbsp;{{ data.total }}&nbsp;</td>
                <td>&nbsp;{{ data.success }}&nbsp;</td>
                <td>&nbsp;{{ data.failed }}&nbsp;</td>
                <td>&nbsp;{{ data.srate }}&nbsp;</td>
                <td>&nbsp;{{ data.last_upload_time }}&nbsp;</td>
                <td>&nbsp;{{ data.last_update_time }}&nbsp;</td>
                <td>
                    &nbsp;
                    <form style="display: inline" action="{{ url_for('blue_rasp.vf_testdata', clearsearchsession=1) }}" method="post">
                        <input type="hidden" name="fcode" value={{data.fcode}}>
                        <button type="submit" class="btn">查看历史数据</button>
                    </form>
                    &nbsp;
                    <form style="display: inline" action="{{ url_for('blue_rasp.cmd_update_stat', fcode=data.fcode) }}" method="post">
                        <!-- <input type="hidden" name="fcode" value={{data.fcode}}> -->
                        <button id="update" type="submit"
                            {% if need_update(data.fcode) %}
                                style="color:green"
                            {% else %}
                                style="color:red"
                            {% endif %}
                            >更新数据
                        </button>
                    </form>
                    &nbsp;
                </td>
            </tr>
        {% endfor %}
<!--
        {% if current_user.id >= 100 %}
            <tr>
                 <td>&nbsp;
                     <form style="display: inline" action="{{ url_for('blue_vendor.vf_index') }}" method="post">
                         <input type="hidden" name="fcode" value=0>
                         <button type="submit" class="btn">All</button>
                      </form>
                &nbsp;</td>
                <td>&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;</td>
                <td>
                    &nbsp;
                    <form style="display: inline" action="{{ url_for('blue_rasp.vf_testdata', clearsearchsession=1) }}" method="post">
                        <input type="hidden" name="fcode" value=0>
                        <button type="submit" class="btn">查看历史数据</button>
                    </form>
                    &nbsp;
                    <form style="display: inline" action="{{ url_for('blue_rasp.cmd_update_stat', fcode=0) }}" method="post"><button id="update" type="submit"
                        style="color:green"
                    >更新数据</button></form>
                    &nbsp;
                </td>
            </tr>
        {%  endif %}
-->
    </table>
    <br>

    <a href="{{ url_for('blue_rasp.vf_stat') }}">刷新</a> |
    <a href="{{ url_for('blue_main.vf_index') }}">返回</a>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color:red">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock body %}

